body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('images/h.jpeg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 50px;
    padding-top: 60px; /* Adjust for header height */
}

.welcome-section {
    max-width: 300px;
}

.welcome-section h1 {
    font-size: 36px;
}

.welcome-section p {
    margin: 10px 0;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    background-color: #216dbe;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

.buttons span {
    display: block;
    margin: 10px 0;
}

.membership-note {
    margin-top: 20px;
}


 
/* Container for messages */
.messages {
    position: fixed; /* Fixed positioning to stay at the top right */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  /* Individual alert messages */
  .alert {
    padding: 15px;
    margin-bottom: 10px; /* Space between messages */
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0; /* Initially hidden for fade-in effect */
    animation: fadeIn 0.5s forwards, fadeOut 0.5s 2.0s forwards; /* Fade in and then fade out */
  }
  
  /* Success message styling */
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  /* Error message styling */
  .alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  
  /* Info message styling */
  .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  
  /* Warning message styling */
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  
  /* Animation for fade-in effect */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Animation for fade-out effect */
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;
    display: none; }
  }