<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{% static 'style_feedback.css' %}"/>
</head>
<body>
      <!-- Message Display Section -->
  {% if messages %}
  <div class="messages">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
  </div>
{% endif %}
<pre>                 Feedback section:</pre>
<form method="post" action="https://api.web3forms.com/submit" action="{% url 'feedback' %}" >
    {% csrf_token %}
    <div class="form-group">
        <input type="hidden" name="access_key" value="73adfcfd-a13b-4fcf-bd64-a6c6d380c000">
        <textarea id="feedback" name="message" rows="5" required placeholder="Type your feedback here..."></textarea>
    </div>
    <button type="submit" class="submit-btn">Submit Feedback</button>
</form>
<a href="/dashboard" >Back to dashboard</a>
</body>
</html>

